@use 'colors';
@use 'layout';

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  overflow: scroll;
  display: none;
  justify-content: center;
  align-items: flex-start;
  padding-top: 25vh;
  background-color: rgba(0, 0, 0, 0.9);
  cursor: pointer;

  &.active {
    display: flex;
  }

  i {
    position: absolute;
    top: 4px;
    right: 17px;
    font-size: 1.5rem;

    @include layout.tablet-up {
      top: 4px;
      right: 17px;
      font-size: 2rem;
    }
  }

  .embed {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    padding: 40px;
  }

  iframe {
    max-width: 100vw;
    cursor: default;

    @include layout.tablet-up {
      max-width: 700px;
    }
  }

  .content {
    padding-left: 10px
  }
}

.category {
  .post-link {
    position: relative;
    margin-bottom: 40px;
    text-decoration: none;
    transition: opacity 0.3s linear;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    h2.title {
      margin-top: 6px;
      margin-bottom: 0;
      font-size: 1.4rem;
    }

    h3.artist {
      margin-top: 0;
      margin-bottom: 0;
      text-transform: none;
      font-style: italic;
      letter-spacing: 1px;
    }
  }

  .post-featured {
    grid-column: span 2;
  }
}