$nav: 782px;
$tablet: 802px;
$desktop: 1200px;

@mixin mobile {
  @media screen and (max-width: $tablet - 1px) {
    @content;
  }
}

@mixin tablet-up {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

// Utilities
.mb-0 {
  margin-bottom: 0;
}

.mobile {
  @include tablet-up {
    display: none !important;
  }
}

.tablet {
  @include mobile {
    display: none !important;
  }
}

// Common Layout Styles
body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: 0;
}

.menu-active {
  overflow: hidden;
  position: fixed;
}

.overlay {
  position: fixed;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.container-narrow {
  max-width: $nav;
  margin: 0 auto;
}

.grid {
  display: grid;

  @include tablet-up {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
  }
}

.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex-grow: 1;
  padding-top: 64px;

  @include tablet-up {
    padding-top: 0;
  }

  .match-nav {
    width: $nav;
  }
}

.page-nav {
  margin-bottom: 50px;
}
