@use 'colors';
@use 'header';

.page-nav {
  text-align: center;

  a {
    text-decoration: none;
    margin-right: 20px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &.news {
    a[href*=news] {
      @include header.active;
    }
  }

  &.shows {
    a[href*=shows] {
      @include header.active;
    }
  }
}

.category-nav {
  grid-column: span 2;
}