@use 'colors';

$body-font: Europa, sans-serif;
$display-font: asap, sans-serif;

body {
  color: colors.$white;
  font-family: $body-font;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $display-font;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.content {
  font-size: 1.2rem;
}