{% extends 'base.twig' %}
{% set body_class = 'contact' %}
{% set description = 'Contact Joseph Shabason via the form' %}

{% block content %}
  <div class="container-narrow content">
    {{ post.content }}
  </div>
{% endblock %}