{# pages and single posts #}
{% extends 'base.twig' %}
{% set body_class = 'single' %}

{% block content %}
  <div class="container-narrow">
    {% include 'partials/post.twig' %}
  </div>
{% endblock %}