@use 'common/colors';

.shows {
  .show-year {
    margin-bottom: 50px;
    border-bottom: 1px solid colors.$dark-grey;
  }

  .show {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 20px;
    margin-bottom: 40px;

    .location {
      font-style: italic;
    }

    p {
      margin-top: 0;
    }
  }
}
