<nav class="content page-nav category-nav">
  <a href="#films" class="nav-main-link" data-target="films">Film</a>
  <a href="#tv" class="nav-main-link" data-target="tv">TV</a>
  <a href="#ads" class="nav-main-link" data-target="ads">Ads</a>
</nav>