/* base styles and imports */

@use 'modules/common/colors';
@use 'modules/common/layout';
@use 'modules/common/images';
@use 'modules/common/links';
@use 'modules/common/header';
@use 'modules/common/footer';
@use 'modules/common/category';
@use 'modules/common/singular';
@use 'modules/common/page-nav';
@use 'modules/common/typography';
@use 'modules/tours';
@use 'modules/contact';
@use 'modules/news';

html {
  height: 100%;
  width: 100%;
}

html, body {
  background-color: colors.$black;
}

body {
  box-sizing: border-box;
}
