/* base styles and imports */

@use 'modules/common/colors';
@use 'modules/common/layout';
@use 'modules/common/images';
@use 'modules/common/links';
@use 'modules/common/header';
@use 'modules/common/footer';
@use 'modules/common/category';
@use 'modules/common/singular';
@use 'modules/common/page-nav';
@use 'modules/common/typography';
@use 'modules/tours';
@use 'modules/about';
@use 'modules/contact';
@use 'modules/news';

html {
  height: 100%;
  width: 100%;
}

html, body {
  background-color: colors.$black;
  -webkit-font-smoothing: antialiased;
}

body {
  color: colors.$white;
  font-family: Europa, sans-serif;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: asap, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}